#middle {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-size: 100% auto;
    background-position: fixed;
    background-repeat: no-repeat;
    background-color: #edf2f4;
    font-family: 'Fira Sans';
    font-weight: 300;
}

.entry {
    padding-bottom: 1em;
    padding-right: 2em;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: large;
}

h5 {
    font-size: medium;
}
