html {
    overflow-y: scroll;
}

#middle {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-size: 100% auto;
    background-position: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

main {
    flex: 1 0 auto;
}
